body {
	margin: 0;
	overflow: hidden;
	background: #456990;
}

.item-info-bg {
	margin: 0;
	overflow: hidden;
	background: #028090;
}

.header {
	display: block;
	margin: 0 auto;
	position: relative;
	top: 20%;
	text-align: center;
}

.header form p {
	font-family: 'Open Sans';
	font-size: 50;
	color: #e4fde1;
}

.header form input[type="submit"] {
	display: inline-block;
	background: #f45b69;
	border: 1px solid #f45b69;
	border-radius: 10px;
	color: white;
	font-size: 24px;
	font-family: 'Montserrat';
	padding: 20px;
	transition-duration: .3s;
}

.header form input[value="Submit"] {
	position: relative;
	left: 16px;
}

.header form input[value="Yes"] {
	display: inline-block;
	background: #028090;
	border: 1px solid #028090;
	border-radius: 10px;
	color: white;
	font-size: 24px;
	font-family: 'Gill Sans';
	padding: 12px 20px;
	transition-duration: .3s;
	position: relative;
	left: 32px;
}

.header form select[name="product_type"],
.header form select[name="item"],
.header form select[name="sort"],
.header form select[name="info"] {
	display: inline-block;
	background-color: #e4fde1;
	font-family: 'Montserrat';
	margin: 0 auto;
	margin-bottom: 40px;
	border: 0;
	font-size: 24px;
	width: 300px;
	height: 60px;
}

.header form select[name="product_type"]:focus {
	outline: none;
}

.header form select[name="item"] {
	display: inline-block !important;
	position: relative;
	left: 27px;
	bottom: 6px;
}

.header form .choose-item {
	display: inline-block !important;
}

.header form .choose-item-sort {
	font-size: 40px;
}

.header form select[name="sort"],
.header form select[name="info"] {
	margin: 13px;
}