body {
	margin: 0;
}

.container {
	background: linear-gradient(
		to right,
		#70C1B3 0%,
		#70C1B3 50%,
		#f3ffbd 50%,
		#f3ffbd 100%
	);
	height: 100%;
	width: 100%;
}

.item-info-bg {
	margin: 0;
	background: #70C1B3;
}

.result-bg {
	margin: 0;
	background: #F3FFBD;
}

.header {
	display: block;
	margin: 0 auto;
	position: relative;
	top: 20%;
	text-align: center;
}

.header form p {
	font-family: 'Open Sans';
	font-size: 50;
	color: #e4fde1;
}

.header form .bg-text {
	color: #f3ffbd;
}

.header form .bg-text span {
	color: #70C1B3;
}

.header form input[type="submit"] {
	display: inline-block;
	background: #FF1654;
	border: 1px solid #FF1654;
	border-radius: 10px;
	color: white;
	font-size: 24px;
	font-family: 'Montserrat';
	width: 200px;
	padding: 20px 0;
	margin: 30px;
	transition-duration: .3s;
}

.header form input[value="Submit"], {
	position: relative;
	left: 16px;
}

.header form input[value="Yes"] {
	display: inline-block;
	background: #FF1654;
	border: 1px solid #FF1654;
	border-radius: 10px;
	color: white;
	font-size: 24px;
	font-family: 'Gill Sans';
	padding: 12px 20px;
	transition-duration: .3s;
	position: relative;
	left: 32px;
}

.header form select[name="product_type"],
.header form select[name="item"],
.header form select[name="sort"],
.header form select[name="info"] {
	display: inline-block;
	background-color: #e4fde1;
	font-family: 'Montserrat';
	margin: 0 auto;
	margin-bottom: 40px;
	border: 0;
	font-size: 24px;
	width: 300px;
	height: 60px;
}

.header form select[name="product_type"]:focus {
	outline: none;
}

.header form select[name="item"] {
	display: inline-block !important;
	position: relative;
	left: 27px;
	bottom: 6px;
}

.header form .choose-item {
	display: inline-block !important;
}

.header form .choose-item-sort {
	font-size: 40px;
}

.header form select[name="sort"],
.header form select[name="info"] {
	margin: 13px;
}

table {
	/* display: block; */
	margin: 0 auto;
	border: 2px solid #FF1654;
	background: #f3ffbd;
	color: #FF1654;
	font-family: 'Open Sans';
	margin-top: 20px;
}

table tr th {
	font-size: 20px;
	text-align: center;
}

table tr td:first-child {
	width: 50%;
	padding: 10px;
}

table tr td:last-child {
	width: 30%;
	padding: 10px;
	text-align: center;
}