body {
    background: #f4f1bb;
    font-family: "Open Sans";
    font-size: 18px;
    color: #ed6a5a;
    text-align: center;
}
::selection {
    background: #fe5f55;
}
input {
    display: block;
    border: 1px solid #fff;
    height: 35px;
    border-radius: 5px;
}
input[type="text"] {
    font-size:15px;
    color: #f0b67f;
}
form {
    display: inline-block;
    text-align: left;    
}
body {
    text-align: center; 
}
input[name="lname"] {
    margin-bottom: 20px;
}
option {
    color: coral;
}
input[value="Next"] {
    display: block;
    background-color: #fe5f55
}   
